html
    head
        title= title ? title : 'Twistly'
        
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        
        link(href="/css/vender.min.css", rel="stylesheet")
        link(href="/assets/css/style.css", rel="stylesheet")
        link(href="/assets/css/style-responsive.css", rel="stylesheet")
        link(href="/css/core.min.css", rel="stylesheet")
        style.
            #nav-accordion {
                height: 100%;
                overflow: scroll;
            }
            span.credit {
                background: #424a5d;
                padding-top: 5px;
            }
        block styles
        if(user)
            style.
                .task-info {
                    white-space: normal;
                }
        else
            style.
                #main-content {
                    margin: 0;
                }
    body
        block body
            section#container
                include ./includes/header
                if(user)
                    include ./includes/sidebar
                section#main-content
                    section.wrapper
                        block content
        script(src="/js/vender.min.js")
        script(src="/assets/js/jquery.dcjqaccordion.2.7.js")
        script(src="/assets/js/jquery.backstretch.min.js")
        script(src="/js/core.min.js")
        block scripts
