extends ./layout

block styles
    style.
        .form-horizontal.style-form .form-group:last-of-type {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

block content
    .row.mt
        .col-lg-12
            .form-panel
                h4.mb
                    i.fa.fa-angle-right
                    | 
                    | Account
                form.form-horizontal.style-form
                    .form-group
                        label.col-sm-2.control-label Username
                        .col-sm-10
                            p.form-control-static #{user.username}
                    .form-group
                        label.col-sm-2.control-label Email
                        .col-sm-10
                            p.form-control-static #{user.email}
                    .form-group
                        label.col-sm-2.control-label API Key
                        .col-sm-10
                            p.form-control-static #{user.apiKey}
                    .form-group
                        label.col-sm-2.control-label Plan
                        .col-sm-10
                            p.form-control-static #{user.plan.name}
