extends ./layout

block body
        .signin-page
            .container
                form.form-signin(action="/signup", method="post", autocomplete="off")
                    h2.form-signin-heading Sign up now
                    .signin-wrap
                        //- fake fields are a workaround for chrome autofill getting the wrong fields
                        input(type="text", name="fakeusernameremembered", style="display: none;")
                        input(type="password", name="fakepasswordremembered", style="display: none;")
                        input(type="text", placeholder="Username", name="username", id="username", autocomplete="off", autofocus).form-control
                        br
                        input(type="text", placeholder="Email", name="email", id="email", autocomplete="off").form-control
                        br
                        input(type="text", placeholder="Invite token", name="invite", id="invite", autocomplete="off").form-control
                        br
                        input(type="password", placeholder="Password", name="password", id="password", autocomplete="off").form-control
                        br
                        button.btn.btn-theme.btn-block(href="/signin", type="submit")
                            i.fa.fa-lock
                            | 
                            | SIGN UP
                        hr
                        .registration
                            | Already have an account?
                            br
                            a(href="/signin") Signin here
    block scripts
        script.
            $.backstretch("/assets/img/login-bg.jpg", {speed: 500});
