html
    head
        title= title ? title : 'TODO'
        
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, inital-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="keyword", content="")
        
        link(href="/assets/css/bootstrap.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
        
        link(href="/assets/css/style.css", rel="stylesheet")
        link(href="/assets/css/style-responsive.css", rel="stylesheet")
        
        script(src="/assets/js/chart-master/Chart.js")
    body
        section#container
            include ./includes/header
            include ./includes/sidebar
            section#main-content
                section.wrapper.site-min-height
                    block content
        
        script(src="/assets/js/jquery.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/jquery-ui-1.9.2.custom.min.js")
        script(src="/assets/js/jquery.ui.touch-punch.min.js")
        script(src="/assets/js/jquery.dcjqaccordion.2.7.js")
        script(src="/assets/js/jquery.scrollTo.min.js")
        script(src="/assets/js/jquery.nicescroll.js")
        
        script(src="/assets/js/common-scripts.js")
