extends ../../layout

block content
    .form-panel
        form(action="", method="post")
            input(type="number", name="interval", min="1", max="250")
            input(type="submit", name="submit")
