extends ../layout

block content
    .row.mt
        .col-lg-12
            .form-panel
                h4.mb
                    i.fa.fa-angle-right
                    | 
                    | Counters
                p
                    | These should be added to your theme just after the
                    | 
                    code= '<body>'
                    | 
                    | tag.
                form.form-horizontal.style-form
                    .form-group
                        label.col-sm-2.control-label Followers counter
                        .col-sm-10
                            p.form-control-static
                                code= counters.followers
                    .form-group
                        label.col-sm-2.control-label Online counter
                        .col-sm-10
                            p.form-control-static
                                code= counters.online
                    .form-group
                        label.col-sm-2.control-label Views counter
                        .col-sm-10
                            p.form-control-static
                                code= counters.views
