extends ../layout

block content
    .row.mt
        .col-lg-12
            if(stats.length)
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            
                                div
                                    canvas#followersDailyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersDailyBarChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyBarChart.col-lg-6
            else
                .panel.panel-default
                    .panel-body
                        h5 We haven't started collecting stats for this blog yet, please check back in about an hour.
block scripts
    if(stats.length)
        script.
            var stats = !{JSON.stringify(stats)};
            Array.prototype.clean = function(deleteValue) {
                for (var i = 0; i < this.length; i++) {
                    if (this[i] == deleteValue) {         
                        this.splice(i, 1);
                        i--;
                    }
                }
                return this;
            };
        script.
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var date = new Date(stat.date).getDate();
                if (!fakeData[date]) {
                    fakeData[date] = stat.followerCount;
                    if(new Date(stat.date).toDateString() ==  new Date().toDateString()){
                        labels.push('Today');
                    } else {
                        labels.push(days[new Date(stat.date).getDay()]);
                    }
                }
            });
            fakeData.clean();
            
            var data = {
                labels: labels.reverse(),
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: fakeData
                }]
            };
            var dailyLineChart = $("#followersDailyLineChart").get(0).getContext("2d");
            var dailyLineChart = new Chart(dailyLineChart).Line(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = ["1 AM", "2 AM", "3 AM", "4 AM", "5 AM", "6 AM", "7 AM", "8 AM", "9 AM", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM", "12 AM"];
            var count = 0;
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(!fakeData[hour]){
                    fakeData[hour] = stat.followerCount;
                    count++;
                }
                if(count == 24) return;
            });
            
            labels = labels.slice(new Date().getHours(), labels.length).concat(labels.slice(0, new Date().getHours()));
            labels[23] = 'NOW';
            fakeData = fakeData.clean();
            fakeData = fakeData.slice(new Date().getHours()+1, fakeData.length).concat(fakeData.slice(0, new Date().getHours()+1));
            
            var data = {
                labels: labels,
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: fakeData
                }]
            };
            var hourlyLineChart = $("#followersHourlyLineChart").get(0).getContext("2d");
            var hourlyLineChart = new Chart(hourlyLineChart).Line(data, {responsive: true});
        script.
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var date = new Date(stat.date).getDate();
                if (!fakeData[date]) {
                    fakeData[date] = stat.followerCount;
                    if(new Date(stat.date).toDateString() ==  new Date().toDateString()){
                        labels.push('Today');
                    } else {
                        labels.push(days[new Date(stat.date).getDay()]);
                    }
                }
            });
            fakeData.clean();
            var diff = [];
            var firstDiff = 0;
            fakeData.forEach(function(data){
                var i = fakeData.indexOf(data);
                if(i == 0){
                    diff.push(data - firstDiff);
                } else {
                    var tempDiff = data - fakeData[i-1];
                    if(tempDiff > 0) {
                        diff.push(data - fakeData[i-1]);
                    } else {
                        diff.push(0);
                    }
                }
            });
            var data = {
                labels: labels.reverse(),
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: diff
                }]
            };
            var dailyBarChart = $("#followersDailyBarChart").get(0).getContext("2d");
            var dailyBarChart = new Chart(dailyBarChart).Bar(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = ["1 AM", "2 AM", "3 AM", "4 AM", "5 AM", "6 AM", "7 AM", "8 AM", "9 AM", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM", "12 AM"];
            var count = 0;
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(!fakeData[hour]){
                    fakeData[hour] = stat.followerCount;
                    count++;
                }
                if(count == 24) return;
            });
            
            labels = labels.slice(new Date().getHours(), labels.length).concat(labels.slice(0, new Date().getHours()));
            labels[23] = 'NOW';
            fakeData = fakeData.clean();
            fakeData = fakeData.slice(new Date().getHours()+1, fakeData.length).concat(fakeData.slice(0, new Date().getHours()+1));
                
            var firstDiff = 0;
            var finished = _.after(stats.length, done);
            stats.forEach(function(stat){
                var statDate = new Date(stat.date),
                    todaysDate = new Date();
                if(statDate.getDate() == (todaysDate.getDate()-1)){
                    labels[0].indexOf('AM') > 0 ? num = -1 : num = 11;
                    if(statDate.getHours() == (parseInt(labels[0].replace(' PM', ''))+num)){
                        if(!firstDiff){
                            firstDiff = stat.followerCount;
                        }
                    }
                }
                finished();
            });
            
            function done(){
                var diff = [];
                fakeData.forEach(function(data){
                    var i = fakeData.indexOf(data);
                    if(i == 0){
                        diff.push(data - firstDiff);
                    } else {
                        var tempDiff = data - fakeData[i-1];
                        console.log(tempDiff);
                        if(tempDiff > 0) {
                            diff.push(data - fakeData[i-1]);
                        } else {
                            diff.push(0);
                        }
                    }
                });
                var data = {
                    labels: labels,
                    datasets: [{
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: diff
                    }]
                };
                var hourlyBarChart = $("#followersHourlyBarChart").get(0).getContext("2d");
                var hourlyBarChart = new Chart(hourlyBarChart).Bar(data, {responsive: true});
            };
