extends ../layout

block content
    .row.mt
        .col-lg-12
            if(stats.length)
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            
                                div
                                    canvas#followersDailyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyBarChart.col-lg-6
            else
                .panel.panel-default
                    .panel-body
                        h5 We haven't started collecting stats for this blog yet, please check back in about an hour.
block scripts
    if(stats.length)
        script.
            var stats = !{JSON.stringify(stats)};
            Array.prototype.clean = function(deleteValue) {
                for (var i = 0; i < this.length; i++) {
                    if (this[i] == deleteValue) {         
                        this.splice(i, 1);
                        i--;
                    }
                }
                return this;
            };
        script.
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var day = new Date(stat.date).getDay();
                if (fakeData[day]) {
                    fakeData[day] = fakeData[day] > stat.followerCount ? fakeData[day] : stat.followerCount;
                } else {
                    fakeData[day] = stat.followerCount;
                    if(new Date(stat.date).toDateString() ==  new Date().toDateString()){
                        labels.push('Today');
                    } else {
                        labels.push(days[new Date(stat.date).getDay()]);
                    }
                }
            });
            var data = [];
            var count = 0;
            for (var i in fakeData) {
                if (fakeData.hasOwnProperty(i)) {
                    data[count++] = fakeData[i];
                }
            }
            
            var data = {
                labels: labels.reverse(),
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: data
                }]
            };
            var dailyLineChart = $("#followersDailyLineChart").get(0).getContext("2d");
            var dailyLineChart = new Chart(dailyLineChart).Line(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(hour == 0){
                    hour = 24;
                }
                if (!fakeData[hour]) {
                    fakeData[hour] = stat.followerCount;
                    if (hour > 12) {
                        labels.push(hour-12 + ' PM');
                    } else if(hour == 12) {
                        labels.push(hour + ' PM');
                    } else {
                        labels.push(hour + ' AM');
                    }
                }
            });
            labels = labels.reverse();
            labels[labels.length-1] = 'NOW';
            
            fakeData = fakeData.clean();
            fakeData = fakeData.slice((labels.length - labels.indexOf('12 PM') - 1), fakeData.length).concat(fakeData.slice(0, (labels.length - labels.indexOf('12 PM') - 1)));
            
            var data = {
                labels: labels,
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: fakeData
                }]
            };
            var hourlyLineChart = $("#followersHourlyLineChart").get(0).getContext("2d");
            var hourlyLineChart = new Chart(hourlyLineChart).Line(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(hour == 0){
                    hour = 24;
                }
                if (!fakeData[hour]) {
                    fakeData[hour] = stat.followerCount;
                    if (hour > 12) {
                        labels.push(hour-12 + ' PM');
                    } else if(hour == 12) {
                        labels.push(hour + ' PM');
                    } else {
                        labels.push(hour + ' AM');
                    }
                }
            });
            labels = labels.reverse();
            labels[labels.length-1] = 'NOW';
            
            fakeData = fakeData.clean();
            fakeData = fakeData.slice((labels.length - labels.indexOf('12 PM') - 1), fakeData.length).concat(fakeData.slice(0, (labels.length - labels.indexOf('12 PM') - 1)));
            
            var firstDiff = 0;
            var finished = _.after(stats.length, done);
            stats.forEach(function(stat){
                var statDate = new Date(stat.date),
                    todaysDate = new Date();
                if(statDate.getDate() == (todaysDate.getDate()-1)){
                    labels[0].indexOf('AM') > 0 ? num = -1 : num = 11;
                    if(statDate.getHours() == (parseInt(labels[0].replace(' PM', ''))+num)){
                        if(!firstDiff){
                            firstDiff = stat.followerCount;
                        }
                    }
                }
                finished();
            });
            
            function done(){
                var diff = [];
                fakeData.forEach(function(data){
                    var i = fakeData.indexOf(data);
                    if(i == 0){
                        diff.push(data - firstDiff);
                    } else {
                        diff.push(data - fakeData[i-1]);
                    }
                });
                var data = {
                    labels: labels,
                    datasets: [{
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: diff
                    }]
                };
                var hourlyBarChart = $("#followersHourlyBarChart").get(0).getContext("2d");
                var hourlyBarChart = new Chart(hourlyBarChart).Bar(data, {responsive: true});
            };
