extends ../layout

block content
    .row.mt
        .col-lg-12
            .panel.panel-default
                .panel-body
                    div
                        canvas#followersDaily.col-lg-12
block scripts
    script.
        var ctx = $("#followersDaily").get(0).getContext("2d");
        var stats = !{JSON.stringify(stats)};
        var labels = !{JSON.stringify(labels)};
        var data = {
            labels: labels,
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: stats
            }]
        };
        var myLineChart = new Chart(ctx).Line(data, {responsive: true});
