extends ../layout

block content
    .row.mt
        .col-lg-12
            if(stats.length)
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            
                                div
                                    canvas#followersDailyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyLineChart.col-lg-6
                .col-lg-6
                    .panel.panel-default
                        .panel-body
                            if(stats.length)
                                div
                                    canvas#followersHourlyBarChart.col-lg-6
            else
                .panel.panel-default
                    .panel-body
                        h5 We haven't started collecting stats for this blog yet, please check back in about an hour.
block scripts
    if(stats.length)
        script.
            //- var stats = !{JSON.stringify(stats)};
            var stats = [{"_id":"55771b86a2b59d180f7b1e7f","blogId":"5575adce55b2446a07693620","followerCount":4266,"postCount":9233,"__v":0,"date":"2015-06-09T16:59:50.268Z"},{"_id":"5577147ea2b59d180f7b1e77","blogId":"5575adce55b2446a07693620","followerCount":4259,"postCount":9229,"__v":0,"date":"2015-06-09T16:29:50.113Z"},{"_id":"55770d75a2b59d180f7b1e6f","blogId":"5575adce55b2446a07693620","followerCount":4255,"postCount":9224,"__v":0,"date":"2015-06-09T15:59:49.197Z"},{"_id":"5577066c9bb550a50a533709","blogId":"5575adce55b2446a07693620","followerCount":4251,"postCount":9219,"__v":0,"date":"2015-06-09T15:29:48.618Z"},{"_id":"5576ff639bb550a50a533701","blogId":"5575adce55b2446a07693620","followerCount":4246,"postCount":9215,"__v":0,"date":"2015-06-09T14:59:47.693Z"},{"_id":"5576f85a9bb550a50a5336f9","blogId":"5575adce55b2446a07693620","followerCount":4240,"postCount":9211,"__v":0,"date":"2015-06-09T14:29:46.788Z"},{"_id":"5576f1519bb550a50a5336f2","blogId":"5575adce55b2446a07693620","followerCount":4233,"postCount":9207,"__v":0,"date":"2015-06-09T13:59:45.855Z"},{"_id":"5576ea499bb550a50a5336eb","blogId":"5575adce55b2446a07693620","followerCount":4230,"postCount":9202,"__v":0,"date":"2015-06-09T13:29:45.038Z"},{"_id":"5576e3419bb550a50a5336e4","blogId":"5575adce55b2446a07693620","followerCount":4227,"postCount":9197,"__v":0,"date":"2015-06-09T12:59:45.035Z"},{"_id":"5576dc389bb550a50a5336dd","blogId":"5575adce55b2446a07693620","followerCount":4222,"postCount":9192,"__v":0,"date":"2015-06-09T12:29:44.912Z"},{"_id":"5576d52f9bb550a50a5336d6","blogId":"5575adce55b2446a07693620","followerCount":4215,"postCount":9187,"__v":0,"date":"2015-06-09T11:59:43.948Z"},{"_id":"5576ce279bb550a50a5336cf","blogId":"5575adce55b2446a07693620","followerCount":4207,"postCount":9183,"__v":0,"date":"2015-06-09T11:29:43.791Z"},{"_id":"5576c71f9bb550a50a5336c8","blogId":"5575adce55b2446a07693620","followerCount":4207,"postCount":9178,"__v":0,"date":"2015-06-09T10:59:43.573Z"},{"_id":"5576c0179bb550a50a5336c1","blogId":"5575adce55b2446a07693620","followerCount":4201,"postCount":9173,"__v":0,"date":"2015-06-09T10:29:43.404Z"},{"_id":"5576b90f9bb550a50a5336ba","blogId":"5575adce55b2446a07693620","followerCount":4197,"postCount":9169,"__v":0,"date":"2015-06-09T09:59:43.156Z"},{"_id":"5576b2069bb550a50a5336b3","blogId":"5575adce55b2446a07693620","followerCount":4189,"postCount":9164,"__v":0,"date":"2015-06-09T09:29:42.963Z"},{"_id":"5576aafe9bb550a50a5336ac","blogId":"5575adce55b2446a07693620","followerCount":4185,"postCount":9159,"__v":0,"date":"2015-06-09T08:59:42.876Z"},{"_id":"5576a3f69bb550a50a5336a5","blogId":"5575adce55b2446a07693620","followerCount":4180,"postCount":9154,"__v":0,"date":"2015-06-09T08:29:42.862Z"},{"_id":"55769cee9bb550a50a53369e","blogId":"5575adce55b2446a07693620","followerCount":4175,"postCount":9149,"__v":0,"date":"2015-06-09T07:59:42.706Z"},{"_id":"557695e69bb550a50a533697","blogId":"5575adce55b2446a07693620","followerCount":4170,"postCount":9144,"__v":0,"date":"2015-06-09T07:29:42.631Z"},{"_id":"55768ede9bb550a50a533690","blogId":"5575adce55b2446a07693620","followerCount":4166,"postCount":9139,"__v":0,"date":"2015-06-09T06:59:42.502Z"},{"_id":"557687d69bb550a50a533689","blogId":"5575adce55b2446a07693620","followerCount":4163,"postCount":9134,"__v":0,"date":"2015-06-09T06:29:42.343Z"},{"_id":"557680ce9bb550a50a533682","blogId":"5575adce55b2446a07693620","followerCount":4160,"postCount":9129,"__v":0,"date":"2015-06-09T05:59:42.099Z"},{"_id":"557679c59bb550a50a53367b","blogId":"5575adce55b2446a07693620","followerCount":4154,"postCount":9124,"__v":0,"date":"2015-06-09T05:29:41.755Z"},{"_id":"557672bd9bb550a50a533674","blogId":"5575adce55b2446a07693620","followerCount":4141,"postCount":9120,"__v":0,"date":"2015-06-09T04:59:41.481Z"}];
            Array.prototype.clean = function(deleteValue) {
                for (var i = 0; i < this.length; i++) {
                    if (this[i] == deleteValue) {         
                        this.splice(i, 1);
                        i--;
                    }
                }
                return this;
            };
        script.
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var day = new Date(stat.date).getDay();
                if (fakeData[day]) {
                    fakeData[day] = fakeData[day] > stat.followerCount ? fakeData[day] : stat.followerCount;
                } else {
                    fakeData[day] = stat.followerCount;
                    if(new Date(stat.date).toDateString() ==  new Date().toDateString()){
                        labels.push('Today');
                    } else {
                        labels.push(days[new Date(stat.date).getDay()]);
                    }
                }
            });
            var data = [];
            var count = 0;
            for (var i in fakeData) {
                if (fakeData.hasOwnProperty(i)) {
                    data[count++] = fakeData[i];
                }
            }
            
            var data = {
                labels: labels.reverse(),
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: data
                }]
            };
            var dailyLineChart = $("#followersDailyLineChart").get(0).getContext("2d");
            var dailyLineChart = new Chart(dailyLineChart).Line(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(hour == 0){
                    hour = 24;
                }
                if (fakeData[hour]) {
                    fakeData[hour] = fakeData[hour] > stat.followerCount ? fakeData[hour] : stat.followerCount;
                } else {
                    fakeData[hour] = stat.followerCount;
                    if (hour > 12) {
                        labels.push(hour-12 + ' PM');
                    } else if(hour == 12) {
                        labels.push(hour + ' PM');
                    } else {
                        labels.push(hour + ' AM');
                    }
                }
            });
            labels = labels.reverse();
            labels[labels.length-1] = 'NOW';
            
            fakeData = fakeData.clean();
            fakeData = fakeData.slice((labels.length - labels.indexOf('12 PM') - 1), fakeData.length).concat(fakeData.slice(0, (labels.length - labels.indexOf('12 PM') - 1)));
            
            var data = {
                labels: labels,
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: fakeData
                }]
            };
            var hourlyLineChart = $("#followersHourlyLineChart").get(0).getContext("2d");
            var hourlyLineChart = new Chart(hourlyLineChart).Line(data, {responsive: true});
        script.
            var fakeData = [];
            var labels = [];
            stats.forEach(function(stat){
                var hour = new Date(stat.date).getHours();
                if(hour == 0){
                    hour = 24;
                }
                if (fakeData[hour]) {
                    fakeData[hour] = fakeData[hour] > stat.followerCount ? fakeData[hour] : stat.followerCount;
                } else {
                    fakeData[hour] = stat.followerCount;
                    if (hour > 12) {
                        labels.push(hour-12 + ' PM');
                    } else if(hour == 12) {
                        labels.push(hour + ' PM');
                    } else {
                        labels.push(hour + ' AM');
                    }
                }
            });
            labels = labels.reverse();
            labels[labels.length-1] = 'NOW';
            
            fakeData = fakeData.clean();
            fakeData = fakeData.slice((labels.length - labels.indexOf('12 PM') - 1), fakeData.length).concat(fakeData.slice(0, (labels.length - labels.indexOf('12 PM') - 1)));
            
            var diff = [];
            fakeData.forEach(function(data){
                var i = fakeData.indexOf(data);
                if(i == 0){
                    diff.push(data);
                } else {
                    diff.push(data - fakeData[i-1]);
                }
            });
            diff[0] = 0;
            
            var data = {
                labels: labels,
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: diff
                }]
            };
            var hourlyBarChart = $("#followersHourlyBarChart").get(0).getContext("2d");
            var hourlyBarChart = new Chart(hourlyBarChart).Bar(data, {responsive: true});
