if(user)
    aside
        #sidebar.nav-collapse
            ul.sidebar-menu#nav-accordion
                p.centered
                    a(href="/account")
                        img(src="/assets/img/ui-sam.jpg", width="60").img-circle
                        h5.centered #{user.name ? user.name : user.username}
                        li.mt
                            a(href="/")
                                i.fa.fa-dashboard
                                span Dashboard
                        li
                            a(href="/account")
                                i.fa.fa-calendar-o
                                span Account
                        if(user.tokenSet.length)
                            li.sub-menu
                                a(href="javascript:;")
                                    i.fa.fa-bar-chart
                                    span Stats
                                ul.sub
                                    li
                                        - for(var i = 0; i < user.tokenSet.length; i++)
                                            - for(var k = 0; k < user.tokenSet[i].blogs.length; k++)
                                                a(href="/blog/" + user.tokenSet[i].blogs[k].url + "/stats") #{user.tokenSet[i].blogs[k].url}
                            li.sub-menu
                                a(href="javascript:;")
                                    i.fa.fa-calendar-o
                                    span Queues
                                ul.sub
                                    li
                                        - for(var i = 0; i < user.tokenSet.length; i++)
                                            - for(var k = 0; k < user.tokenSet[i].blogs.length; k++)
                                                a(href="/blog/" + user.tokenSet[i].blogs[k].url + "/queues") #{user.tokenSet[i].blogs[k].url}
                            li.sub-menu
                                a(href="javascript:;")
                                    i.fa.fa-globe
                                    span Counters
                                ul.sub
                                    li
                                        - for(var i = 0; i < user.tokenSet.length; i++)
                                            - for(var k = 0; k < user.tokenSet[i].blogs.length; k++)
                                                a(href="/blog/" + user.tokenSet[i].blogs[k].url + "/counters") #{user.tokenSet[i].blogs[k].url}
                        else
                            a(href="/auth/tumblr")
                                i.fa.fa-cogs-o
                                span Link an account
            span.credit Theme from BlackTie.co
