extends ./layout

block body
    .signin-page
            .container
                form.form-signin(action="/signin", method="post")
                    h2.form-signin-heading Sign in now
                    .signin-wrap
                        input(type="text", placeholder="Username", name="username", autofocus).form-control
                        br
                        input(type="password", placeholder="Password", name="password").form-control
                        label.checkbox
                            span.pull-right
                                a(href="/signin#myModal") Forgot Password?
                        button.btn.btn-theme.btn-block(href="/signin", type="submit")
                            i.fa.fa-lock
                            | 
                            | SIGN IN
                        hr
                        .registration
                            | Don't have an account yet?
                            br
                            a(href="/signup") Create an account
block scripts
    script.
        $.backstretch("/assets/img/login-bg.jpg", {speed: 500});
