extends ../../layout

block styles
    style.
        .form-horizontal.style-form .form-group:last-of-type {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .shuffle {
            margin: 0;
        }

block content
    .form-panel
        h4.mb
            i.fa.fa-angle-right
            |
            | Add new queue
        form(action="", method="post").form-horizontal.style-form
            .form-group
                label.col-sm-2.control-label Amount of posts per queue
                .col-sm-10
                    input(type="number", name="interval", min="1", max="250").form-control
            .form-group
                label.col-sm-2.control-label Start Hour (0 - 24)
                .col-sm-10
                    input(type="number", name="startHour", min="0", max="24").form-control
            .form-group
                label.col-sm-2.control-label End Hour (0 - 24)
                .col-sm-10
                    input(type="number", name="endHour", min="0", max="24").form-control
            button(type="submit").btn.btn-theme.queue_inline Create
    .form-panel
        form(action="/blog/" + blog.url + "/queues/shuffle", method="post").shuffle
            button(type="submit").btn.btn-theme02 Shuffle All Queues
    .form-panel
        h4.mb
            i.fa.fa-angle-right
            |
            | Current Queues
        - for(i in queues)
            - var queue = queues[i];
            form.form-horizontal.style-form(action="/blog/" + blog.url + "/queues/new", method="post")
                .form-group
                    label.col-sm-2.control-label Start time
                    .col-sm-10
                        p.form-control-static #{queue.startHour}
                .form-group
                    label.col-sm-2.control-label End time
                    .col-sm-10
                        p.form-control-static #{queue.endHour}
                .form-group
                    label.col-sm-2.control-label Amount of posts
                    .col-sm-10
                        p.form-control-static #{queue.interval}
                .form-group
                    label.col-sm-2.control-label Last run time
                    .col-sm-10
                        p.form-control-static
                            time(datetime=(new Date(queue.lastRun).toISOString())) #{new Date(queue.lastRun).toISOString()}
            form(action="/blog/" + blog.url + "/queues/" + queue.id + "/delete", method="post").queue_inline
                button(type="submit").btn.btn-theme04 Delete
